#hero-sec {
  padding: 0 5%;
  min-height: 100vh;
  padding-bottom: 5%;
  .hero-sec-container {
    height: 100vh;
    border-radius: 50px;
    background:linear-gradient(
      to right,
      #000000d2,   
      #00000053,   
      #00000032      
    ),url("../../assets/images/home-hero.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    // z-index: -1;
    .text-side{
        color: #ffff;
        max-width: 620px;
        margin: 0 10%;
        gap: 10px;

        h1{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
     
       
    }
     .hero-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #ffff;
    color: #404040;
    padding: 12px 22px;  
    font-size: 32px;
    font-weight: 500;
    border-radius:30px 0px 0 0;
    .vector{
        position: absolute;
        object-fit: cover;
        z-index: 3;
        right: 0;
        bottom: 100%;
    }
    .vector2{
        position: absolute;
        bottom: 0;
        left: -40px;
        object-fit: cover;
        z-index: 3;
    }
  }

}
@media (max-width: 992px) {
  h1{
      font-size: 32px !important;
  }
  .hero-badge {
    font-size: 24px;
  //   padding: 10px 12px;
  }
}
}
@media (max-width: 576px) {
    #hero-sec{
        .hero-sec-container{
            height: 80vh !important;
         border-radius: 30px !important;
        }
        height: 50vh !important;
        .text-side{
            margin: 0 5% !important;
        }
        h1{
            font-size: 20px !important;
        }
        p{
            font-size: 14px !important;
        }
      .hero-badge{
          font-size: 14px !important;
          height: 43px;
          border-radius: 33px 0px 0px 0px !important;
          .vector2{
            height: 28px !important;
            left: -25px !important;
          }
         }
    }
}
