#home-contact {
  width: 100%;
  min-height: 130vh;
  height: 100%;
  // height: auto;
  display: flex;
  align-items: flex-end;
  margin-top: 30%;
  .contact {
    background-image: url("../../assets/images/contact-overlay.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height:80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-container {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .contact-form {
    h2 {
      font-size: 40px;
    }
    p {
      color: #465052;
      max-width: 650px;
      text-align: center;
    }
  }
  form {
    border: 1px solid #b4b3b3;
    border-radius: 32px;
    background: #ffffff66 !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(1px);
    width: 50%;

    input,
    textarea {
      background-color: transparent;
      outline: none !important;
      border: none;
      border-bottom: 1px solid #b4b3b3;
      border-radius: 0;
      margin-bottom: 20px;
    }
    input::placeholder {
      color: #808080;
    }
    textarea::placeholder {
      color: #808080;
    }
  }
  @media (max-width: 768px) {
    .contact{
        height: 30vh !important;
    }
    form{
        width: 100%;
    }
  }
}
