#home-contact {
   position: relative;
  width: 100%;
  height: 160vh;
  min-height:130vh;

  .background{
    background-image: url("../../assets/images/contact-overlay.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
     width: 100%;
    height: 60%;
  
  }
  .contact{
    position: relative;
    height: 100%;
    z-index: 2;
      display: flex;
  align-items: flex-end;
  justify-content: flex end;

    .contact-head{  
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 10px;
      p{
        max-width: 600px;
        text-align: center;
      }
    }
    .contact-form {
      position: absolute;
      top: 20px;
      right: 50%;
       transform: translate(50%, 0%);
    max-width: 700px;
      text-align: center;

    h2 {
      font-size: 40px;
    }
    p {
      color: #465052;
      max-width: 650px;
    }
     form {
      padding-block: 40px;
    border: 1px solid #b4b3b3;
    border-radius: 32px;
    background: #ffffff66 !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(1px);

    input,
    textarea {
      background-color: transparent;
      outline: none !important;
      border: none;
      border-bottom: 1px solid #b4b3b3;
      border-radius: 0;
      margin-bottom: 20px;
    }
    input::placeholder {
      color: #808080;
    }
    textarea::placeholder {
      color: #808080;
    }
    .btn{
      background-color: #1B7CAF;
    }
  }
  }
  }

  @media (max-width:768px){
    
  }

  // .contact-container {
  //   margin-top: 100%;
  //   position: absolute;
  //   bottom: 60%;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 100%;
  // }
 
 
  // @media (max-width: 768px) {
  //   .contact{
  //       height: 30vh !important;
  //   }
  //   form{
  //       width: 100%;
  //   }
  // }
}
