.header {
  margin-bottom: 80px;
  .top-bar {
    padding: 0 5%;
    background-color: #1c1c1c;
    color: #ffffff;
    height: 44px;
    align-items: center;
    display: flex;
    justify-content: center;
    .content {
      gap: 10%;
    }
    .icon {
      width: 20px;
      height: 30px;
      display: flex;
      align-items: center;
    }
  }
  .custom-navbar {
    height: 80px;
    padding: 0 5% !important;
    position: fixed;
    width: 100%;
    transition: background-color 0.4s ease;
    background-color: #ffffff;
    z-index: 3;
  }
  &.scroll {
    transition: all 0.4s ease;
    .custom-navbar {
      background-color: #1b7caf;
    }

    .navbar a {
      color: #f5efef !important;
      &:hover {
        color: #ffffff !important;
      }
    }
    .top-bar {
      display: none;
      height: 0;
      transition: all 0.4s ease;
    }
    .galery-drop {
      background-color: #1b7caf;
    }
    .bar {
      color: #ffffff !important;
    }
  }
  .logo-side {
    // height: 50px;
    height: auto;
    .logo {
      height: 45px;
  width: auto;
  object-fit: contain;
    }
  }
  .navbar {
    a {
      color: #000 !important;
      text-decoration: none !important;
    }
    a:hover {
      color: #1b7caf !important;
    }
    .nav-link.active {
      color: #1b7caf !important;
    }
    .galery:hover {
      .arrow {
        transition: all 0.4s ease;
        transform: rotate(180deg);
      }
      .galery-drop {
        display: flex;
      }
    }
    .galery {
      position: relative;
      .galery-drop {
        top: 30px;
        display: flex;
        flex-direction: column;
        border: 1px solid #1b7caf;
        padding: 10px;
        gap: 10px;
        width: 90px;
        border-radius: 10px;
        position: absolute;
        display: none;
      }
    }
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 2000;
    input {
      border: none;
      outline: none;
      padding: 5px 10px;
    }
    .nav-link {
      width: 100%;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.302);
      padding: 10px;
      &:hover {
        // color: $primary-color;
        background-color: #f2f1fe;
      }
    }
    .nav-logo {
      width: 100px;
    }

    &.open {
      left: 0;
    }

    .sidebar-link {
      color: #333;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: #007bff;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000083;
    z-index: 1000;
  }

  @media (max-width: 992px) {
    .custom-navbar {
      top: 0;
    }
  }
}
