.title-btn{
    border: 1px solid #1B7CAF;
    height: 35px;
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: transparent;
    padding:  7px 20px;
    border-radius: 16px;
}