#home-services {
  padding: 5%;
  padding-bottom: 60px;
  .home-services {
    .head-side {
      gap: 16px;
    }
    h1 {
      color: #2c2c2c;
    }
    p {
      color: #465052;
      font-weight: 500;
      font-size: 18px;
    }
    .content-side {
      display: flex;
      height: 90vh;
      background: #fff;
      overflow: hidden;

      .tabs {
        display: flex;
        justify-content: center;
        text-align: center;
        .tab {
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 30px 0;
          gap: 20px;
          cursor: pointer;
          writing-mode: vertical-rl;
          transform: rotate(0);
          font-weight: 600;
          opacity: 0.5;
          transition: all 0.3s ease;
          border-left: 2px solid gray;
          &.active {
            opacity: 1;
          }
          .tab-number {
            display: block;
            font-size: 48px;
            margin-bottom: 5px;
          }

          .tab-title {
            font-size: 24px;
          }
        }
      }

      .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        .image {
          width: 65%;
          height: 80%;
          object-fit: cover;
          position: relative;
          display: flex;
          img {
            border-radius: 24px;
            width: 100%;
            object-fit: cover;
          }
          .img-badge {
            width: 30%;
            min-width: 210px;
            height: 90px;
            padding: 20px 10px;
            border-radius: 0 32px 0 0;
            background-color: #ffffff;
            position: absolute;
            bottom: -10px;
            left: -1px;
            z-index: 2;
            h4{
              font-size: 20px;
              text-align: center;
            }
            .vector2 {
              width: 40px;
              height: 40px;
              rotate: (90deg);
              position: absolute;
              right: -39px;
              bottom: 9px;
              border-radius: 0;
              object-fit: contain ;
            }
             .vector1 {
              width: 40px;
              height: 40px;
              rotate: (90deg);
              position: absolute;
              left: -1px;
              top: -39px;
              border-radius: 0;
              object-fit: contain ;
              // border: 1px solid red;
            }
          }
        }
        .text-side {
          width: 30%;

          p {
            font-size: 18px;
          }
          @media (max-width: 1112px) {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .services-cards {
    display: flex;
    // gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    .services-card {
      margin: 20px 0 !important;
      width: 95%;
      height: 324px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border: 1px solid #e8e8e8;
      border-radius: 20px;
      padding: 12px;
      position: relative;
      &:hover {
        .hover-bar {
          width: 100%;
        }
        .second-img {
          display: block !important;
        }
      }
      .img {
        position: relative;
        height: 50%;
        img {
          border-radius: 18px;
          object-fit: cover;
          object-position: center center;
          height: 100% !important;
        }
        .second-img {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
          width: 100%;
          height: 100% !important;
        }
      }
      .card-desc {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        font-weight: 500;
        color: #1c1c1c;
        h3 {
          color: #1b7caf;
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-size: 14px !important;
        }
      }
      .hover-bar {
        position: relative;
        height: 1px;
        width: 100%;
        background: #c0cbd5;
        border-radius: 5px;
        overflow: visible;
        transition: left 10ms ease-in-out, background-color 1s ease;
        .dot {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #c0cbd5;
        }
      }
      &:hover .hover-bar {
        width: 100%;
        background: #1b7caf;
        transition: left 200ms ease-in-out, background-color 2ms ease;

        .dot {
          left: 100%;
          background-color: #1b7caf;
        }
      }
    }
  }
  @media (max-width:768px){
    .head-side{
      align-items: center;
      text-align: center;
      h1{
        text-transform: uppercase;
        font-size: 24px;
      }
    }
  }
  // @media (max-width: 768px) {
  //   .head-side {
  //     align-items: center;
  //     text-align: center;
  //     gap: 10px !important;
  //     h1 {
  //       text-transform: uppercase;
  //       font-size: 24px !important;
  //     }
  //     p {
  //       font-size: 16px !important;
  //       padding: 0 !important;
  //     }
  //   }
  // }
}
