#gallery{
    .gallery-container{
        padding: 5%;
        // position: relative;
        .head-text{
            h1{
                font-size: 40px;
                color: #1C1C1C;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color: #465052;
            }
        }
        .media-container{
            img{
                border-radius: 20px;
                height: 250px;
                object-fit: cover;
            }
             video{
                border-radius: 20px;
                height: 250px;
                object-fit: cover;
            }
          
           
        }
    }
//    .skeleton {
//   width: 100%;
//   aspect-ratio: 4/3; // daha təmiz
//   background-color: #e0e0e0;
//   border-radius: 8px;
// }

    @media (max-width:768px){
       .gallery-container{
         img{
            height: 208px !important;
        }
        video{
            height: 208px !important;
        }
       }
    }
}