#hero-section{
    margin-top:80px;
    padding: 0 5%;
    width: 100%;
    .hero-section{
        background-image:linear-gradient(to top, #00000093, #1b1b1b30 ), url("../../assets/images/home-hero.webp");
        background-position:center 80%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 334px;
        padding: 0 5%;
        border-radius: 38px;
        .text-side{
            width: 100%;
            height: 100%;
            color: #fff;
           
            span{
                font-size: 18px;
            }
        }
    }
    @media (max-width:768px){
        .hero-section{
            height: 300px !important;
        }
    }
    @media (max-width:576px){
        .hero-section{
            height: 30vh !important;
            border-radius: 20px !important;
            h1{
                font-size: 24px;
            }
            
            span{
                font-size: 16px !important;
            }
        }
    }
}