
#our-mission{
    min-height: 60vh;
    padding: 0 5%;
    .our-mission{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
             .img-side{
            width: auto;
            height: 100%;
        }
        .text-side{
            margin: auto;
          
            gap: 50px;
            .vision{
                padding: 30px 40px;
                h4{
                    color: #1B7CAF;
                    position: relative;
                    padding-left: 40px;
                    font-size: 20px;
                    font-weight: 700;
                    &:before{
                        content: "";
                        position: absolute;
                        height: 3px;
                        width: 40px;
                        background-color: #1B7CAF;
                        left: -10px;
                        top: 50%;
                    }
                }
                h3{
                    font-size: 30px;
                    font-weight: 600;
                }
            }
        }
    }
    @media (max-width:1098px){
        .our-mission{
            flex-direction: column;
            .text-side{
                padding: 0 !important;
                .vision{
                    // padding: 20px 0px;
                    h4{
                        // padding-left: 30px;
                        &:before{
                            height: 3px;
                            width: 26px;
                            left: -1px;
                            top: 50%;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:768px){
        .our-mission{
            .img-side{
                width: 100%;
                padding: 0;
            }
            .text-side{
                padding: 0;
                padding: 40px 0px;
                .vision{
                    padding: 0;
                    h4{
                        font-size: 16px !important;
                        padding-left: 30px;
                       &:before{
                        height: 3px;
                        width: 26px;
                        left: -1px;
                        top: 50%;
                    }
                    }
                    h3{
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}