#home-galery  {
    background-color: #F9F9F9;
    padding: 5% 5%;
    .home-galery{
        .head-text{
            gap: 16px;
            h1{
                color: #2C2C2C;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                color: #465052;
                // padding-right: 2%;
                // max-width: 640px;
            }
        }
        .galery{
            padding-top: 40px;
        }
        .img{
            overflow: hidden;
            border-radius:20px !important;
         
        }
        .chevr{
            border: 1px solid #191919;
            background-color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 88px;
            height: 56px;
            border-radius: 70px;
        }
    }
    @media (max-width:768px){
        .home-galery{
           .head-text{
            gap: 10px !important;
             h1{
                text-transform: uppercase;
                font-size: 24px !important;
            }
           }
        }
    }
}