
.read-more{
    height: 48px;
    padding: 10px 7px 10px 17px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #1B7CAF;
    border: none;
    font-weight: 500;
    outline: none;
    .arrow{
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    transition: transform 0.3s ease;
    display: inline-block;
    color: #000;
    transform: rotate(50deg);
}

    &:hover{
        // color: red !important;
        .arrow{
            transform: rotate(90deg);
        }
    }
}