
.read-more{
    height: 52px;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    color: #FFFFFF;
    background-color: #1B7CAF;
    border: none;
    font-weight: 500;
    .arrow{
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}