#home-contact {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  .contact-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
      .contact-head {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
      p {
        max-width: 600px;
        padding: 0 5px;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        color: rgba(70, 80, 82, 1);
      }
    }
      .form-container {
        margin-bottom: -200px;
      width: 80%;
      max-width: 800px;
      padding-block: 40px;
      border: 1px solid #b4b3b3;
      border-radius: 32px;
      background: #ffffff66 !important;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(1px);

      input,
      textarea {
        background-color: transparent;
        outline: none !important;
        border: none;
        border-bottom: 1px solid #b4b3b3;
        border-radius: 0;
        margin-bottom: 20px;
      }
      input::placeholder {
        color: #808080;

      }
      textarea::placeholder {
        color: #808080;
      }
      
    }
    .reservation{
      background-color: #1b7caf;
      width: 100%;
      height: 48px;
      border-radius: 50px;
      border: none;
      color: #ffff;
    }

  }

  .overlay{
    width: 100%;
    height: 560px;
    border-radius: 50px  50px 0px 0;
    overflow: hidden;
    img{
      object-fit: cover;
      object-position: center 40%;

    }
  }
 

  @media (max-width:768px){
    .contact-head{
      padding-bottom: 20px !important;
      h2{
        text-transform: uppercase;

      }
    }
    .contact-form{
      margin-bottom: 110px;
    }
    .form-container{
      width: 90% !important;
    }
    .overlay{
      height: 200px;
      border-radius: 24px 24px 0 0 !important;
    }
  }
}
