#advantages {
  border: 2px solid red;
  height: 100%;
  padding: 5%;
  .advantages {
 .text-side{
       p {
      // font-size: 38px;
      color: #465052;
      font-size: 18px;
      padding-right: 30px;
    }
    h3 {
      font-size: 24px;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        line-height: 27px;
        font-size: 18px;
        color: #2C2C2C;
      }
    }
 }
 .img-side{
      position: relative;
//   max-width: 650px;
  height: auto;
//   width: 100%;
  border: 1px solid red;
  .main-img{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .second-img{
    position: absolute;
    bottom: 0;
    left: -100px;
    // right: -40%;
  }
  .badge-box{
     position: absolute;
    top: -5%;
    right: 0%;
    color: #fff;
    border-radius: 16px;
    padding: 10px;
    // text-align: center;
    background-color: #fff;
    .box-container{
    background-color: #007bff;
    padding: 10px 13px;
    border-radius: 20px;
    }
  }
 }
  }
  @media (max-width:1204px){
    .advantages{
        .text-side{
            padding-bottom: 50px;
    }
    .img-side{
    width: 90% !important; 
        padding: 0;
        border: 1px solid red !important;
    }
    }
  }
}
