#advantages {
  height: 100%;
  padding: 5%;
  .advantages {
    .head-text {
      // border: 1px solid red;
    }
    .text-side {
      display: flex;
      flex-direction: column;
      p {
        color: #465052;
        font-size: 18px;
        padding-right: 40px;
        font-weight: 500;
      }
      h3 {
        font-size: 24px;
      }
    }
    ul {
      li {
        display: flex;
        line-height: 27px;
        font-weight: 500;
        font-size: 18px;
        color: #465052;
      }
    }
    .img-side {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .main-img {
        position: relative;
        width: 100%;
        height: 90%;
      }
      .second-img {
        position: absolute;
        bottom: -1px;
        left: -20%;
        height: 50%;
      }
      .badge-box {
        // min-height: 96px;
        height: 30%;
        // min-width: 198px;
        position: absolute;
        top: -5%;
        right: 0%;
        color: #fff;
        border-radius: 16px;
        padding: 10px;
        background-color: #fff;
        .box-container {
          height: 100%;
          background-color: #1b7caf;
          padding: 15px 13px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h4 {
            font-size: 24px;
          }
          // gap: 20px;
        }
      }
    }
  }
  @media (max-width: 1204px) {
    .advantages {
      .text-side {
        padding-bottom: 50px;
      }
      .img-side {
        width: 100% !important;
        .main-img {
          width: 80%;
        }
        .second-img {
          left: 0%;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .text-side {
      padding-bottom: 10px !important;
      h1 {
        font-size: 24px !important;
      }
      p {
        font-size: 16px !important;
      }
    }
    li p {
      margin-bottom: 0 !important;
    }
    h3 {
      font-size: 20px;
    }
    .img-side {
      .badge-box {
        width: 25%;
        padding: 7px !important;
        h4 {
          font-size: 14px ;
          margin-bottom: 0 !important;
        }
        p {
          font-size: 9px !important;
        }
        .box-container {
          gap: 0px !important;
          padding: 10px !important;
          border-radius: 10px !important;
        }
      }
    }
    .environment {
      h1 {
        font-size: 20px !important;
      }
    }
  }
  @media (max-width:576px){
    .badge-box{
      width: 40% !important;
      height: 45% !important;
      text-align: center;
      max-width: 160px;
      p{
        margin: 0 !important;
      }
      h4{
        font-size: 9px !important;
      }
      // height: 20% !important;
      // width: 98px !important;
    }
  }
}
