
.read-more{
    height: 48px;
    width: 161px;
    padding: 7px  10px ;
    color: #FFFFFF;
    background-color: #1B7CAF;
    border-radius: 50px;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    .arrow{
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}