#home-about {
  .home-about {
    padding: 5%;
    min-height: 90vh;
    overflow: hidden;
    .text-side {
      padding-right: 5%;
      justify-content: center;
      gap: 20px;
      h1{
        font-size: 40px;
      }
      p {
        font-size: 18px;
        color: #465052;
        line-height: 27px;
        font-weight: 500;
      }
    }
    .img-side {
      height: 90vh;
      // overflow: hidden;
      position: relative;
      .img {
        border-radius: 50px 0px;
        object-fit: cover;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
      .text {
        background-color: #fff;
        padding: 30px 0px 0px 30px;
        width: 80%;
        height: 30%;
        border-radius: 80px 0 0 0;
        z-index: 1;
        position: absolute;
        bottom: -1px;
        right: -1px;
        font-weight: 500;
        .text-content {
          background-color: #efeff1;
          height: 100%;
          width: 100%;
          border-radius: 50px 0 0 0;
          padding: 3% 10%;
          li {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 993px) {
    .home-about .row {
      flex-direction: column-reverse;
      .img-side {
        height: 90vh ;
      }
      .img {
        height: 100% !important;
      }
      .text-side {
        padding-top: 40px;
        padding-right: 0 !important;
      }
      .text {
        border-radius: 60px 0 0 0;
        padding: 20px 0 0 20px !important;
        height: auto;
        width: 55% ;
      }
    }
  }
  @media (max-width:576px){
    .img-side{
      height: 60vh !important;
    }
    .text-side{
      gap: 0 !important;
      h1{
        text-transform: uppercase;
        line-height: 140%;
        padding-top: 10px;
        font-size: 24px !important;

      }
      p{
        padding-top: 0 !important;
      }
    }
    .text{
     width: 90% !important;
     font-size: 12px;
    }
  }

}
