#home-about {
  .home-about{
    padding-inline: 5%;
    padding-top: 90px;
    .text-side{
      padding: 66px 0;
      padding-right: 5%;
      gap: 10px;
      h1{
        font-size: 40px;
      }
      p{
        font-weight: 500;
        color: #465052;
        font-size: 18px;
      }
      a{
        padding-top: 20px;
      }
    }
    .img-side{
      height: 600px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      .img{
        max-width: 500px;
        border-radius: 66px 0;
        overflow: hidden;
        height: 100%;
        position: relative;
        img{
          object-fit: cover;

        }
      }
      .text{
        position: absolute;
        width: 372px;
        bottom: 0;
        right: 0;
        background-color: #ffffff;
        border-radius:70px 0 0 0;
        .text-content{
          border-radius: 66px 0 66px 0 ;
          background-color: rgba(239, 239, 241, 1);
          padding: 22px 36px;
          border-top: 22px solid #ffffff;
          border-left: 22px solid #ffffff;
          h5{
            font-weight: 700;
          }
          ul{
            margin: 0;
            padding: 0;
             li {
              font-weight: 600;
              color: rgba(44, 44, 44, 1);
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 8px;
          }
          }
        }
      }
    }
  }
  @media (max-width:992px){
    .home-about .row{
      flex-direction: column-reverse !important;
    }
    .img-side{
      padding-left: 0 !important;
     justify-content: center !important;
     align-items: center;
    }

  }
  @media screen and (max-width:768px){
    .home-about{
      padding-top: 30px;
    }
    .img-side{
      height: 411px !important;
    .img{
        border-radius: 46px 0 !important;
    }
    
      .text{
        width: 90% !important;
        max-width: 372px !important;
        .text-content{
          border-radius: 46px 0 !important ;
          padding: 12px 24px !important;
        }
        h5{
          font-size: 16px;
        }
        li{
          font-size: 12px;
        }
      }
    }
    .text-side{
      padding-block: 60px 40px!important;
      padding-right: 0 !important;
      h1{
        font-size: 24px;
        text-transform: uppercase;
      }
      p{
        font-size: 16px !important;
      }
      a{
        padding-top: 0 !important;
      }
    }
  }

}
