#home-about {
  .home-about {
    padding: 5%;
    min-height: 90vh;
    overflow: hidden;
    .text-side {
      padding-right: 5%;
      justify-content: center;
      gap: 20px;
      p {
        font-size: 18px;
        color: #465052;
        line-height: 27px;
        font-weight: 500;
      }
    }
    .img-side {
      height: 90vh;
      border-radius: 50px 0px;
      overflow: hidden;
      position: relative;
      .img {
        object-fit: cover;
        height: 100%;
        overflow: hidden;
        z-index: 0;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
      .text {
        background-color: #fff;
        padding: 30px 0px 0px 30px;
        width: 80%;
        height: 30%;
        border-radius: 80px 0 0 0;
        z-index: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        .text-content {
          background-color: #efeff1;
          height: 100%;
          width: 100%;
          border-radius: 50px 0 0 0;
          padding: 3% 10%;
          li {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  @media (max-width: 992px) {
    .home-about .row {
      flex-direction: column-reverse;
      .img-side {
        height: 80vh !important;
      }
      .img {
        height: 100% !important;
      }
      .text-side {
        padding-top: 40px;
      }
        .text{
                border-radius: 60px 0 0 0 ;
                padding: 20px 0 0 20px !important;
                height: auto;
        
            }
    }
  }
  @media (max-width: 576px) {
   
        .text-side{
            padding-right: 0 !important;
           h1{
            font-size: 20px ;
        text-transform: uppercase;
        font-weight: 600;
        }
        p{
            font-size: 16px !important;
        }
        }
        .img-side{
            height: 70vh !important;
        }
        .text {
      border-radius: 60px 0 0 0;
      padding: 20px 0 0 20px !important;
      .text-content {
        border-radius: 40px 0 0 0;
        padding: 3% 10%;
        h5 {
          font-size: 16px;
        }
        li {
          display: flex;
          align-items: center;
          gap: 10px;
          line-height: 20px;
          span {
            font-size: 12px;
          }
        }
      }
   
    }
  }
}
